@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: rgb(244, 244, 244);
  font-family: "Roboto Mono", monospace;
}
p {
  font-size: 15px;
  font-weight: 400;
}
.navbar {
  width: 100%;
  border-bottom: 2px solid rgb(201, 201, 201);
}
.navbar-contents {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 10;
  justify-content: space-between;
  align-items: center;
}
.special-link {
  color: black;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
.section {
  margin-top: 50px;
}
ul {
}
li {
  margin: 10px 0;
}
.http-container p {
  font-size: 17px;
  font-weight: 500;
}
.http-style {
  background-color: lightblue;
  padding: 5px 10px;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.light-green {
  background-color: lightgreen;
}
.yellow {
  background-color: rgb(244, 244, 0);
}
.http-style p {
  padding: 0;
  margin: 0;
}
.http-container {
  display: flex;
  gap: 10px;
}
.hljs {
  background: rgb(223, 223, 223) !important;
  border-radius: 13px;
}
table,
th,
td {
  border: 1px solid;
  padding: 5px 3px;
  border-collapse: collapse;
}
th {
  height: 30px;
  width: 100px;
}
.bold {
  font-weight: 600;
  font-size: 16px;
}
